/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ---- reset ---- */

/* ---- typography ---- */
body {
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
}

h3 {
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* ---- layout ---- */

#site-header {
  padding: 1%;
  color: black;
  background: grey;
}


#site-main {
 
 
}
#site-footer {
  color: black;
  background: grey;
  height: 100px;
}

main {
  
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card {
    background: greenyellow;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  
}

.header-item{
  display: flex;
  flex-direction: column;
}

.sprite-img{
  width: 150px;
  height: 150px;
  justify-content: center;
}
.container {
  
}
.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-flow: row wrap;
}

.flex-nav {
  justify-content: space-around;
}

.flex-main{
  justify-content: space-around;
}
#nav-bar {
  display: flex;
  justify-content: space-between;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff;
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

